::-webkit-scrollbar-track {
  scrollbar-width: thin !important;
  background-color: #f5f5f5 !important;
}

::-webkit-scrollbar {
  scrollbar-width: thin !important;
  width: 6px !important;
  height: 6px !important;
  background-color: transparent !important;
  border-radius: 16px !important;
}

*::-webkit-scrollbar-track {
  scrollbar-width: thin !important;
  background: #bfbfbf !important;
  border-radius: 16px !important;
}

::-webkit-scrollbar-thumb {
  scrollbar-width: thin !important;
  background-color: transparent !important;
  border: 4px solid #555555 !important;
  border-radius: 16px !important;
}


/* New Media Queries */

.mobile_menus {
  display: none !important;
}

.desktop_menus {
  display: inline !important;
}

@media (max-width: 899px) {

  .mobile_menus {
    display: inline !important;
  }

  .desktop_menus {
    display: none !important;
  }
}