#simpleTabs .MuiTabPanel-root {
    padding: 0px !important;
    margin-top: 0px !important;
}

.MuiTabs-root {
    min-height: auto !important;
}

#simpleTabs .MuiTab-root {
    font-size: 13px !important;
    letter-spacing: 0.2 !important;
    color: var(--primary) !important;
    text-transform: none !important;
    font-weight: 500 !important;
    padding: 8px 20px !important;
    margin-right: 10px !important;
    min-height: auto !important;
    height: auto !important;
    letter-spacing: 3% !important;
}

#simpleTabs .MuiTabs-indicator {
    background-color: var(--primary) !important;
} 

#simpleTabs .MuiTabs-scrollButtons {
    color: var(--primary) !important;
    min-width: 30px !important;
    width: 30px !important;
    display: flex !important;
    opacity: 1 !important;
}

#simpleTabs .MuiTabs-scrollButtons.Mui-disabled {
    opacity: 0.3 !important;
    display: flex !important;
}